<% flash.each do |message_type, message| %>
      <div class="<%= message_type %>"><h1><%= message %></h1></div>
    <% end %>

<h1><%= @party.name %></h1>
<% if current_user.id == @party.host %>
<div >
  <form action="/parties/<%= @party.id %>/add_user" method="post">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <input type="hidden" name="_method" value="put">
    <select name="user_id">
      <% @users.each do |user| %>
        <option value="<%= user.id %>"><%= user.name %></option>
      <% end %>
    </select><br><br>
    <input type="submit" value="Add User To Party">
  </form>
</div>
<% end %>

<h2>Location:  <%= @party.location %></h2>
<h2>Date:  <%= @party.date.strftime("%B %-d, %Y") %></h2>
<h2>Time:  <%=@party.time.strftime('%-l:%M %p') %></h2>
<img src="<%=@party.img_url%>" alt="" />
