<div class= "container sign-up">
  <div class="row-materialize">
    <h1 class="text-primary text-center edit-headline">Edit Account</h1>
    <%= form_for @user, :html => {:class => "col s12"} do |f| %>
    <div class="row-materialize">
      <div class="input-field col s12">
        <%= f.label :name, :id => "first_name"%>
        <%= f.text_field :name, :class => 'validate', :id => "first_name"%><br>
      </div>
    </div>
    <div class="row-materialize">
      <div class="input-field col s12">
        <%= f.label :email, :class => 'validate'%>
        <%= f.text_field :email, :class => 'validate'%>
      </div>
    </div>
    <div class="row-materialize">
      <div class="input-field col s12">
        <%= f.label :username, :class => 'validate'%>
        <%= f.text_field :username, :class => 'validate'%>
      </div>
    </div>
    <div class="row-materialize">
      <div class="input-field col s12">
        <%= f.label :password, :class => 'validate' %>
        <%= f.password_field :password, :class => 'validate'%>
      </div>
    </div>
    <div class="row-materialize">
      <div class="input-field col s12">
        <%= f.label :password_confirmation, :class => 'validate'%>
        <%= f.password_field :password_confirmation, :class => 'validate'%>
      </div>
    </div>
    <%= f.submit "Update", class: "btn waves-effect waves-light"%>
    <%end %>
  </div>
</div>
