<%= render partial: 'layouts/nav'%>
<div class="row">
  <div class="splash-page col-sm-12 col-xs-12 col-md-6">
    <h1 class = "logo-text">Best Guest</h1>
    <p class="text-primary splash-text">
      No one likes throwing a party on their own.  Invite friends, tell them what you need, and let them decide how they can help.
    </p>
    <p class="text-primary splash-text banner-copy">An Experiment with a basic Ruby on Rails CRUD application, Authentication, and PostgresSQL.  Goal was to give different privledges for a user based on there status as party invitee or party organizer.  Styling and UI not main focus for this project 😋.</p>
    <p class="text-primary splash-text sign-in-instructions">Sign in with the following users or create your own:</p>
    <ul class="text-primary splash-text sign-in-instructions">
      <li>Username: Ray</li>
      <li>Password: Ray</li>
      <br>
      <li>Username: Zoe</li>
      <li>Password: Zoe</li>
    </ul>

  </div>
  <div class="container sign-up col-sm-12 col-xs-12 col-md-6">
    <div class="row-materialize">
      <h1 class="text-primary text-center event-text">Sign Up</h1>
      <%= form_for @user, :html => {:class => "col s12"} do |f| %>
      <div class="row-materialize">
        <div class="input-field col s12">
          <%= f.label :name, :id => "first_name"%><br>
          <%= f.text_field :name, :class => 'validate', :id => "first_name"%><br>
        </div>
      </div>
      <div class="row-materialize">
        <div class="input-field col s12">
          <%= f.label :email, :class => 'validate'%><br>
          <%= f.text_field :email, :class => 'validate'%><br>
        </div>
      </div>
      <div class="row-materialize">
        <div class="input-field col s12">
          <%= f.label :username, :class => 'validate'%><br>
          <%= f.text_field :username, :class => 'validate'%><br>
        </div>
      </div>
      <div class="row-materialize">
        <div class="input-field col s12">
          <%= f.label :password, :class => 'validate' %><br>
          <%= f.password_field :password, :class => 'validate'%><br>
        </div>
      </div>
      <div class="row-materialize">
        <div class="input-field col s12">
          <%= f.label :password_confirmation, :class => 'validate'%><br>
          <%= f.password_field :password_confirmation, :class => 'validate'%><br>
        </div>
      </div>
      <br>
      <%= f.submit "Sign Up", class: "btn waves-effect waves-light"%>
      <%end %>
    </div>
  </div>
</div>
