<div id="user-page">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><h1><%= message.split.map(&:capitalize).join(' ') %></h1></div>
  <% end %>

<div class="new-user-form">
<h1>Welcome to Best Guest!  Please Sign Up!</h1>
  <%= form_for @user do |f| %>
  <%= f.label :name%><br>
  <%= f.text_field :name%><br>
  <%= f.label :email%><br>
  <%= f.text_field :email%><br>
  <%= f.label :username%><br>
  <%= f.text_field :username%><br>
  <%= f.label :password %><br>
  <%= f.password_field :password %><br>
  <%= f.label :password_confirmation %><br>
  <%= f.password_field :password_confirmation %><br>
  <br>
  <%= f.submit "Sign Up"%><br>
  <% end %>
</div>
