<h1 class="text-primary profile-headline text-center">Your Events</h1>
<div class="row equal">
  <% @user.parties.each do |party| %>
    <% partyitemnumber = 0 %>
    <% useritemlist = @items.where(user_id: @user) %>
      <% useritemlist.each do |item| if item.img_url.to_i == party.id then partyitemnumber +=1 end end %>
  <a href="<%=party_path(party)%>">
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="panel panel-default hoverable">
        <% if partyitemnumber != 0 %>
        <span class="count tooltipped" data-position="right" data-delay = "50" data-tooltip="Bringing <%= partyitemnumber %> Items">
          <p><%= partyitemnumber %></p>
        </span>
        <% end %>
        <div class="panel-heading">
          <% if @users.find(party.host) == @user %>
          <span class="triangle tooltipped" data-position="bottom" data-delay="50" data-tooltip="Your Event"></span>
          <% end %>
          <h3 class="panel-title"><%="#{party.name.split.map(&:capitalize).join(' ')}"%></h3><br>
          <div class="panel-body">
            <p>
              Host:
              <% a = @users.find(party.host) %>
              <%= a.name %><br>
              Date:
              <%= party.date.strftime("%B %-d, %Y")%>
              <br>
              Location:
              <%= party.location %><br>
              Time:
              <%=party.time.strftime('%-l:%M %p')%><br>
              <%= party.users.length %>
              Guests
            </p>
          </div>
        </div>
      </div>
    </div>
  </a>
  <% end %>
  <a href="<%=new_party_path%>">
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="panel-default hoverable" >
        <div class="panel-heading"id = "add-new-event">
          <h3 class="panel-title"></h3><br>
            <p>
              Do You Want To Make A New Event?
            </p>
            <img src="<%= asset_path( 'plus-icon.svg' ) %>" class ="center-block addition-icon" id = "plus-icon"/>
        </div>
      </div>
    </div>
  </a>
</div>
