<div id="user-page">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><h1><%= message %></h1></div>
  <% end %>
<div class="user-page">
<h1><%= @user.name.capitalize.split(" ")[0]%>'s Events</h1>
<%if current_user.parties == [] %>
<h1>You have no upcoming events.  Why don't you throw one?</h1>
<div>
  <%= link_to "Start a Party!?", new_party_path %></li>
<%end %>
</div>

<% @user.parties.each do |party| %>
  <h3>
    <%= link_to "#{party.name.split.map(&:capitalize).join(' ')}", party_path(party)  %>
  </h3>
<% end %>
<div>
<% @items.each do |item| %>
<% if item.user_id ==  session[:user_id] %>
<h2>You are bringing <%= item.name %> to
<%@parties.each do |party| %>
  <%if item.img_url.to_i == party.id%>
  <%= party.name %>.
  <%end %>
  <%end %>
 </h2>
<% end %>
<% end %>


</div>
<ul>
  <li> <%= link_to "Start a Party!?", new_party_path %></li>
  <li>
    <%= link_to 'Delete Account',url_for(action: :destroy,id: @user.id),method: :delete, data: {confirm: "Are you sure you want to dlete your account??"} %>
  </li>
</ul>
</div>
